:root{
    --text-color:#212121;
    --text-accent:#2196F3;
    --text-secondColor:#757575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
p {
    margin-top: 0;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

body{
    font-family: roboto,sans-serif;
    color: var(--text-color);
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
/* ----------header---------- */

.page-header--decor{

    display: flex;
    align-items: center;
}

.logo{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}
.logo--item{
    color: var(--text-accent);
   
}


.page-header--nav{
    margin-left: 93px;
}
.page-header--item:not(last-child){
    margin-right: 50px;
}
.page-header--link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}

.page-header--list{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
   
    padding-left: 0;
}



.page-header--link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
}
.page-header--link:hover,
.page-header--link:focus{
    color: var(--text-accent);
}
.page-header--connection{
    color: var(--text-secondColor);
    margin-left: auto;
    margin-right: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.page-header--connection:focus,
.page-header--connection:hover{
    color: var(--text-accent);
}

.page-header--tel{
    color:  var(--text-secondColor);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.page-header--tel:focus,
.page-header--tel:hover{
    color: var(--text-accent);
}
/* ----------hero---------- */
.hero{
    
    background: rgba(47, 48, 58, 0.4) url(../images/heroImg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hero--tittle{
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero--button{
    background-color: var(--text-accent);
    color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hero--decor{
    justify-content: center;
    align-items: center;
}

/* ----------benefits---------- */
.benefits{
    
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits--list{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
}
.benefits--item:not(last-child){
    margin-right: 30px;
}
.benefits--tittle{
    
    font-size: 14px;
    line-height: 1.14;
}
.benefits--text{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    color:var(--text-secondColor);
}
.benefits--thumb{
    width: 270px;
   height: 120px;
   margin-bottom: 30px;
   background-color: #F5F4FA;
   display: flex;
   justify-content: center;
   align-items: center;
   
}


/* ----------activity---------- */
.activity{
    padding-bottom: 94px;
}
.activity--tittle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
}
.activity--list{
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    display: flex;
}

.activity--item:not(last-child){
    margin-right: 30px;
}


/* ----------team---------- */
.team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

.team--tittle{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
}
.team--list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 0;
  
}
.team--item{
    flex-basis: calc((100% - 4 * 30px) / 4);
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.team--content{
    padding: 30px 32px;
}
.team--name{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.team--player{
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-secondColor);
    margin-bottom: 16px;
}
.team--social{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.team--icon:not(:last-child) {
    margin-right: 10px;
}
.team--link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
}
.team--link:hover,
.team--link:focus{
    background-color:var(--text-accent) ;
    color: #fff;
}
.team--hover{
    fill: currentColor;
}
/* ----------footer---------- */
.foot{
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
     
    padding-top: 60px;
    padding-bottom: 60px;
}

.foot--logo{
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
    display: block;
}
.foot--text{
    margin-bottom: 9px;
    font-style: inherit;
    font-size: 14px;
    line-height: 1.7;
    color: #fff;
}
.foot--connection{
    margin-bottom: 9px;
    display: block;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}
.foot--connection:hover,
.foot--connection:focus{
    color: var(--text-accent);
}
.foot--tel{
    
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}
.foot--tel:hover,
.foot--tel:focus{
    color: var(--text-accent);
}


/* портфолио */
.port{
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid #ECECEC;
}
.port--buttons{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 50px;
    margin-top: 0;
    
}

.port--button{    
    cursor: pointer;
    background-color: #F5F4FA;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
   
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: 'Roboto';

}
.port--button:not(last-child){
    margin-right: 8px;
}
.port--button:hover,
.port--button:focus{
    background-color: var(--text-accent);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.port--projects{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
}
.port--all{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-secondColor);
}
.port--list{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 0;
}
.port--item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    background: #ffffff;
    
}
.port--content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    border-top: none;
}